html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}


.sidebar {
    background-color: aquamarine;
    padding: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    grid-template-rows: 80px 300px 150px;
    display: grid;
    row-gap: 30px;
}

.sidebar > div {
    display: grid;
    align-items: center;
}

.logo{
    grid-template-columns: minmax(50px, 75px) 3fr;
    gap: 10px;
    height: 100px;
}

.title {
    display: grid;
}

.icon-set1, .icon-set2{

    grid-auto-rows: 50px;
}

.icon-set1 > *, .icon-set2 > * {
    display: grid;
    grid-template-columns: minmax(25px, 30px) 2fr 1fr;
    gap: 15px;
    padding-left: 10px;
    align-items: center;
}

.header {
    background-color: white;
    padding: 1rem 4rem;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.upper-header {
    display: flex;
    gap: 150px;
}

.upper-header > * {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search > input {
    background-color: #d6e5f0;
    border: none;
    border-radius: 20px;
    height: 25px;
    padding-left: 10px;
}

.search {
    flex-grow: 1;
}

.bell-profile {
    gap: 30px;
}

.search-bar {
    flex: 1;
}

.magnify, .bell {
    height: 30px;
    width: auto;
}

.magnify:active, .bell:active {
    background-color: #DCDCDC;
    border-radius: 50%;
}

.upper-profile, .lower-profile {
    width: auto;
    border-radius: 50%;
    border: 2px solid black;
}

.upper-profile {
    height: 50px;
}

.lower-profile {
    height: 100px;
}

.lower-header {
    display: grid;
    grid-template-columns: 125px 2fr 2fr;
    align-items: center;
}

.greeting {
    font-weight: 700;
    margin: 0;
}

.user-name {
    margin: 5px 0px;
}

.button-container {
    display: flex;
    gap: 40px;
    justify-content: end;
}


.button-container button {
    width: 20%;
    min-width: 80px;
    height: 45px;
    border-radius: 20px;
    background-color: #1992d4;
    color: white;
    border-color: #7ac0e6;
    font-size: large;
}

.dashboard {
    background-color: gray;
}